body {
    background-color: #20091F;
    font-family:  "Dejavu Sans";
    font-size: 130%;
    color: #7582C3;
    padding-left: 20%;
    padding-right: 20%;
}

header {
    background-color: #7582C3;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 50%;
    padding: 1%;
    margin-top: 2%;
    text-align: center;
}

header a {
    color: white;
}

body a {
    color: white;
}

.narwhal {
    width: 40%;
    padding-top: 3%;
}
